treechildren::-moz-tree-image(modules_ao_preferences){
	list-style-image: url(/changeicons/small/handshake.png) ;
}
treechildren::-moz-tree-image(modules_ao_theme){
	list-style-image: url(/changeicons/small/text.png) ;
}
treechildren::-moz-tree-image(modules_ao_business){
	list-style-image: url(/changeicons/small/environment.png) ;
}
treechildren::-moz-tree-image(modules_ao_ao){
	list-style-image: url(/changeicons/small/handshake.png) ;
}
treechildren::-moz-tree-image(modules_ao_company){
	list-style-image: url(/changeicons/small/server.png) ;
}
treechildren::-moz-tree-image(modules_ao_folderbusiness){
	list-style-image: url(/changeicons/small/environment.png) ;
}
treechildren::-moz-tree-image(modules_ao_foldercompany){
	list-style-image: url(/changeicons/small/server.png) ;
}
treechildren::-moz-tree-image(modules_ao_foldertheme){
	list-style-image: url(/changeicons/small/text.png) ;
}

treechildren::-moz-tree-image(modules_ao_statao){
	list-style-image: url(/changeicons/small/document.png);
}
treechildren::-moz-tree-image(modules_ao_stataomedia){
	list-style-image: url(/changeicons/small/document.png);
}